

.playerContainer {
    width: 1300px;
    margin: 0 auto;

}

.highCharts {
    float: left;
    margin: 10px;
}

.clearfix:after {
    content:".";
    visibility: hidden;
    display:block;
    clear:both;
    height:0;
}

.bottomCharts {
    width: 860px;
    margin: 0 auto;
}

.statLabel {
    text-align: center;
    width: 100%;
    font-size: 22px;
    font-weight: 700;
}
